body,
html {
    width: 100%;
    height: 95%;
    font-family: 'Questrial', sans-serif;
}

#main-container {
    z-index: 10;
    position: relative;
    font-size: 20px;
}

#img-joinus {
    z-index: 1;
    position: absolute;
    bottom: -10%;
    display: flex;
    left:-20%
}

#img-joinus-panda {
    width: 150%;
    bottom: -10%;
    position: fixed;
}

#joinUsLink {
    color: white;
}

#user-sign {
    display: none;
}

@media only screen and (max-width: 576px) {
    #img-joinus-panda {
        bottom: -3%;
    }
}
