body,
html {
    width: 100%;
    height: 95%;
}

body {
    background-image: url("/static/home/images/joinus.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar {
    font-family: 'B612';
}

#joinUsLink {
    color: white;
}

#user-sign {
    display: none;
}
