{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>BKR Video Confrenicng Software</title>
    {% include "css_includes.html" %}
    <link rel="stylesheet" href="{% static 'home/css/create.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      <div class="flaot-left fixed-bottom">
        <video id="yourVid"></video>
      </div>
    </div>
    {% include "scripts_include.html" %}
    <script
      src="{% static 'home/js/simple_peer/simplepeer.min.js' %}"
      charset="utf-8"
    ></script>
    <script src="{% static 'home/js/create.js' %}" charset="utf-8"></script>
  </body>
</html>
