<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions</title>
    <script src="/static/head_imports.js"></script>
    <link rel="stylesheet" href="/static/FAQ/css/main.css" />
</head>
<body>
    <script src="/static/navbar.js"></script>
    <div class="main-container">
        <div id="faq" class="snap-scroll">
            <h2 class="text-left section-title" style="color: white;"><strong>Frequently Asked Questions</strong></h2>
        </div>
        <div id="questions" class="snap-scroll text-center">
            <div class="accordion" id="FAQaccordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#setup-meeting" aria-expanded="true" aria-controls="setup-meeting">
                        What all do I need to set up for a meeting?
                      </button>
                    </h2>
                  </div>
                  <div id="setup-meeting" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                    <div class="card-body text-left questionpadding">
                        <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                        <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                    </div>
                  </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#account" aria-expanded="true" aria-controls="account">
                          Do I need an account on BKR?
                        </button>
                      </h2>
                    </div>
                    <div id="account" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#payment" aria-expanded="true" aria-controls="payment">
                          How much do I need to pay?
                        </button>
                      </h2>
                    </div>
                    <div id="payment" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#access-meeting" aria-expanded="true" aria-controls="access-meeting">
                          Where can I access my meeting?
                        </button>
                      </h2>
                    </div>
                    <div id="access-meeting" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#browser-support" aria-expanded="true" aria-controls="browser-support">
                          Which browsers support BaatKarteRaho?
                        </button>
                      </h2>
                    </div>
                    <div id="browser-support" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#internet" aria-expanded="true" aria-controls="internet">
                          What kind of internet do I need to have a smooth call?
                        </button>
                      </h2>
                    </div>
                    <div id="internet" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left buttontitle" type="button" data-toggle="collapse" data-target="#no-video" aria-expanded="true" aria-controls="no-video">
                          Why isn't my video working?
                        </button>
                      </h2>
                    </div>
                    <div id="no-video" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                      <div class="card-body text-left questionpadding">
                          <li>A supported browser: Google Chrome, Firefox, Opera, and Safari</li>
                          <li>Any Operating System: Works on a browser, so there are no limitations of OS or installation of applications </li>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
        <div id="how-to" class="snap-scroll text-center">
            <h2 class="text-center sub-section-title" style="color: black;"><strong>How-to Guides</strong></h2>
                <div class="row align-items-center mx-auto" style="position: relative; bottom: -20px;">
                    <div class="col-sm-2">
                        <ul class="nav nav-pill flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link active btn side-button-features" onclick="featureOpen('new-meeting', 'new-meeting-button')" id="new-meeting-button">New Meeting</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link btn side-button-features" onclick="featureOpen('privacy', 'privacy-button')" id="privacy-button">Privacy</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-10">
                        <div id="new-meeting" class="how-to-more row">
                            <img src="/static/home/images/noise.gif" alt="" class="col-sm-6 info-img">
                            <div class="info-feature col-sm-6">
                                <h3><strong>New Meeting</strong></h3>
                                How to get started and add people
                                <ul>
                                    <li>Go to the Home page</li>
                                    <li>Left click on the 'New meeting' button (yellow)</li>
                                    <li>Fill in your name, meeting name, and a meeting code</li>
                                    <li> </li>
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="/static/scripts_end_of_body.js"></script>
    <script src="/static/FAQ/js/main.js"></script>
</body>
</html>
