<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Create New Meeting BKR</title>
    <script src="/static/head_imports.js"></script>
    <link rel="stylesheet" href="/static/create/css/main.css" />
</head>

<body>
    <script src="/static/navbar.js"></script>
    <div id="password_alert"></div>
    <div class="container d-flex h-100">
        <div class="card mx-auto align-self-center" style="opacity: 90%;">
            <div class="card-header">
                Create New Meeting
            </div>
            <div class="card-body">
                <form class="form-group" action="/session" method="post">
                    <input type="hidden" id="userLoggedIn" name="userId">
                    <div class="form-group">
                        <label for="nameInput">Your Name</label>
                        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Your Name" name="name" required />
                        <small id="nameHelp" class="form-text text-muted">Shown to other people in the video chat</small>
                    </div>
                    <div class="form-group">
                        <label for="meetingNameInput">Meeting Name</label>
                        <input type="text" class="form-control" id="meetingNameInput" aria-describedby="meetingNameHelp" placeholder="Meeting Name" name="meeting_name" autocomplete="off" required />
                        <small id="meetingNameHelp" class="form-text text-muted">
                            Give your meeting a good name
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="sessionName">Meeting Code</label>
                        <input type="password" class="form-control" id="sessionName" aria-describedby="sessionHelp" placeholder="Meeting Code" name="meeting_code" required />
                        <small id="sessionHelp" class="form-text text-muted">This will we asked from people who join this meeting</small>
                    </div>
                    <input type="hidden" name="objective" value="create" />
                    <div class="form-group text-center">
                        <br />
                        <p>
                            <button class="btn btn btn-success" type="submit">
                                Create!
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/scripts_end_of_body.js"></script>
    <script src="/static/create/js/main.js" charset="utf-8"></script>
    <script>
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var photoURL = user.photoURL;
            var uid = user.uid;
            $("#joinUsLink").hide();
            $("#navbar").append('<button onclick="logout()" class="btn" style="background-color:transparent;border: none"><i class="fas fa-sign-out-alt"></i></button><img src="' + photoURL + '" alt="profile" width="27" height="27" style="border-radius:100%;"></img>')
            $("#nameInput").val(displayName);
            $("#userLoggedIn").val(uid);
          } else {
            $("#userLoggedIn").val("");
          }
        }, function(error) {
          console.log(error);
        });

        function logout() {
            firebase.auth().signOut();
            location.reload();
        }
        const urlParams = new URLSearchParams(window.location.search);
        const wrong = urlParams.get("wrong")
        const name = urlParams.get("name");
        const meeting_name = urlParams.get("meeting_name");
        if (wrong === "password") {
            $('#password_alert').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">Meeting Code is very insecure<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button ></div > ')
            $("#nameInput").val(name);
            $("#meetingNameInput").val(meeting_name);
            setTimeout(function() {
                $("#alertdiv").remove();
            }, 5000);
        }
    </script>
</body>

</html>