<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends</title>
    <script src="/static/head_imports.js"></script>
    <link rel="stylesheet" href="/static/friends/css/main.css" />
</head>
<body>
    <script src="/static/navbar.js"></script>
    <div id="main-container" class="container-fluid">
        
    </div>
    <script src="/static/scripts_end_of_body.js"></script>
    <script src="/static/friends/js/main.js"></script>
</body>
</html>
