{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />

    <title>BKR Video Confrenicng Software</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">BKR</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            ><i class="fa fa-home"></i> Home
            <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#"
            ><i class="fa fa-download" aria-hidden="true"></i> Download</a
          >
          <a class="nav-item nav-link" href="#"
            ><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a
          >
          <a class="nav-item nav-link" href="#"
            ><i class="fa fa-user" aria-hidden="true"></i> Sign up</a
          >
        </div>
      </div>
    </nav>
    <div
      class="container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
      "
    >
      <div
        class="card p-3"
        style="
          background: rgba(253, 253, 150, 0.8);
          overflow: hidden;
          border-width: 0ch;
        "
      >
        <div class="card-body">
          <div
            class="card float-left border border-dark rounded-lg"
            style="background: rgba(255, 255, 255, 1);"
          >
            <div class="card-body p-2 bd-highlight">
              <h5 style="font-size: 95%;">
                Connecting Friends and Family with the Internet<br />
              </h5>
              <h5 style="text-align: center;">
                #<strong>B</strong>aat<strong>K</strong>arte<strong>R</strong>aho
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="row">
          <div class="col-4">
            <a href="create_new/" class="btn btn-danger" style="width: 100%;"
              ><h5>Create New Meeting</h5></a
            >
          </div>
          <div class="col-4">
            <a href="join/" class="btn btn-success" style="width: 100%;"
              ><h5>Join Meeting</h5></a
            >
          </div>
          <div class="col-4">
            <a href="schedule/" class="btn btn-primary" style="width: 100%;"
              ><h5>Schedule Meeting</h5></a
            >
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
