<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <script src="/static/head_imports.js"></script>
    <link rel="stylesheet" href="/static/profile/css/main.css" />
</head>
<body>
    <script src="/static/navbar.js"></script>
    <div id="main-container" class="container-fluid">
        <div id="landing-section" class="snap-scroll">
            <div id="half-height-background-div">
                <div id="initials">
                    <img alt="A Beautiful Face" class="mx-auto" id="profilePhoto">
                    <span id="name-of-user"></span>
                </div>
            </div>
            <div id="other-half-height-background-div"></div>
        </div>
        <div id="next-section" class="snap-scroll">
            <div class="row">
                <div id="chat-with-friends" class="col-md-6">

                </div>
                <div id="prevMeetings" class="col-md-6">
                    <h1 class="section-title">Previous Meetings</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts_end_of_body.js"></script>
    <script src="/static/profile/js/main.js"></script>
</body>
</html>
