.end-call-icon {
    transform: rotate(135deg);
}

.white-text {
    --color: white;
    color: white;
}

#video-icon {
    --background: var(--ion-color-tertiary);
}

#audio-icon {
    --background: var(--ion-color-secondary);
}

.end-call-icon-background-red {
    --background: var(--ion-color-danger);
}

#participant-control-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    ion-button {
        width: 100%;
        margin: 0;
    }
}

#grid-messages {
    z-index: 1;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    font-size: larger;
}

.real-message * {
    margin: 0 !important;
}

.their-message {
    background: #fff;
    color: #000000;
    .time {
        color: #5cb3db;
    }
}

.user-message {
    background: #5cb3db;
    color: #000000;
    .time {
        color: #dfdfdf;
    }
}

.time {
    float: right;
    font-size: small;
}

#textarea-parent {
    display: flex;
    align-items: center;
}

#message-input {
    width: 100%;
    resize: none;
    border-radius: 10px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#msg-send {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

