html, body {
    width: 100%; 
    height: 100%;
    overflow-y: hidden;
    font-family: 'Questrial', sans-serif;
/*    cursor: url('/static/home/images/awesomeface.png'), auto;*/
}

#navbar {
    z-index: 2;
}

#dropdown-user-data {
    background-color: #50565c;
    color: white;
}

#dropdown-user-data .dropdown-item:hover {
    background-color: #717579;
}

#user-extra {
    padding-left: 0 !important;
    color: white;
}

#joinUsLink {
    color: white;
}

#dropdown-user-data .dropdown-item {
    color: white;
}

canvas {
    z-index: 1;
    background-color: #0b1728ff;
    position: absolute;
    display: inline;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -70%, 0);
  opacity: 1;
}

.white-space {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    background-color: white;
}

#create_new_meeting_description {
    resize: none;
}

.snap-scroll-parent {
    scroll-snap-type: y mandatory;
}

#main-container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    z-index: 2;
}

.snap-scroll {
    scroll-snap-align: center;
}

.title-custom {
    font-family: 'Archivo Black';
}

@keyframes jump_logo {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(0, 30px, 0);}
}

#intro-img-represent {
    display: inline-block;
    width: 100%;
    height: auto;
}

#jumping-logo {
    width: 40%;
    height: auto;
    animation: jump_logo 0.7s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#intro-section-row {
    height: calc(100vh - 48px);
    margin-left: 24px;
    margin-right: 24px;
}

#intro-card {
    background-color: transparent;
    border-color: transparent;
    padding-top: 10px;
    color: white;
    margin-bottom: 20px;
    width: auto;
}

#intro-card-titile {
    margin-top: 50px;
/*    font-size: 40px;*/
    font-size: 6vh;
    font-family: 'Montserrat Alternates', sans-serif;
}

#intro-description {
    margin-top: 30px;
}

#intro-description p {
    font-size: 15px;
}

#features {
    height: calc(100vh - 48px);
    padding: 0px 100px;
    background-color: #28402e;
}

#features a {
    color: #fff;    
}

#features .row {
    width: 100%;
    height: 100%;
}

.feature-more {
    padding: 0px 10px;
}

.side-button-features {
    opacity: 0.7;
}

.side-button-features.active {
    opacity: 1;
    background-color: #007bff;
}

#features img {
    width: 100% !important;    
    height: auto !important;
}

.info-feature {
    color: white;
    
}

info-feature h3 {
    font-weight: bold;
}

#across-all-devices {
    background-color: #ffe680ff;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 48px);
    /* margin-left: 24px;
    margin-right: 24px; */
}

#device-support-img.big-device {
    width: auto;
    height: 100%;
}

#device-support-img.medium-device {
    width:100%;
    height: 100%;
}

#device-support-img.small-device {
    width: 100%;
    height: auto;
}

#footer {
    height: calc(100vh - 48px);
    background-image: linear-gradient(to right, #192340ff, rgb(18, 18, 90), #192340ff);
    margin-top: 100px;
    padding-top: 50px;
}

#img-top {
    height: 50%;
    width: 66%;
    background-color: tomato;
}

#real-footer {
    width: 100%;
    height: 100%;
    background-color: teal;
}

#img-footer {
    width: 33%;
    height: 100%;
    background-color: violet;
}

#img-footer-panda {
    max-width: 100%;
    max-height: 100%;
}

#footer a {
    text-decoration: none;
    color: white;
}

.meeting-buttons {
    border-radius: 0px !important;
}

#newMeeting {
    background-color: #ffcc00;
}

@media only screen and (max-width: 992px) {
    #main-container {
        scroll-snap-type: none !important;
        padding-top: 0 !important;
    }

    #jumping-logo {
        width: 30%;
        height: auto;
    }

    #intro-description {
        margin-top: 10px;
    }

    #intro-description p {
        font-size: 17px;
    }

    #features {
        min-height: calc(100vh - 48px);
        margin-top: 75px;
        margin-bottom: 75px;
        padding: 0px 50px;
    }

    #features .card:hover {
        transform: 1;
        z-index: 0;
    }

    #across-all-devices {
        height: auto;
/*        scroll-snap-align: start;*/
            /* padding-top: 100px;
            padding-bottom: 250px; */
        padding-left: 14px;
        padding-right: 14px;
    }

    #across-all-devices h4 {
        font-size: 15px;
    }

    #links-container {
        padding-top: 70px;
    }

    #footer {
        margin-top: 0;
    }

    #footer a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    #meetingOptions .btn {
        font-size: 15px;
        height: 60px !important;
    }
}

@media only screen and (max-width: 768px) {
    #intro-section-row {
/*        height: calc(100vh - 100px); */
        height:auto;
    }
}

@media only screen and (max-width:576px) {
    #features {
        padding: 0px 10px;
        height: auto;
    }
}
